* {
	-webkit-user-select: none;
	user-select: none;
}

.knob {
	transition: transform .5s ease;
	background: transparent;
	border-color: #92c5c8;
	border-style: solid;
	border-radius: 50%;
	border-width: 6px;
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 60px;
	height: 60px;
}

.knob:after {
	content: '';
	background-color: #92c5c8;
	display: block;
	height: 40%;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 6px;
}

.knob.active {
	transition: none;
	border-color: #a3dde0;
	box-shadow: 0 0 5px 0 #a3dde0, inset 0 0 5px 0 #a3dde0;
}

.knob.active:after {
	background-color: #a3dde0;
	box-shadow: 0 0 5px 0 #a3dde0, inset 0 0 5px 0 #a3dde0;
}
